* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cards {
  margin: 10px;
  border-radius: 10px;
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30%;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: brown;
}
