* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#change {
  height: 100vh;
}

.page {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(175, 97, 248);
}

.page1 {
  background-color: rgba(226, 213, 213, 0.92);
  display: flex;
  justify-content: center;
  align-items: center;
  color: brown;
  height: 100vh;
}
